<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Bloggr</title>
</head>

<body>
    <header>
        <nav class = "header">
            <div class = "logo"><a href = "/">✍️</a></div>
            <a href = "/create">Write A Blog</a>
            <a href = "/">View/Delete Your Blogs</a>
        </nav>
    </header>
    <main>